html {
    scroll-behavior: smooth;
}
body {
    background: #082031 !important;
}
.navbtn a i {
    color: #ffb400;
    font-size: 20px;
    transition: .4s;
    margin-left: 25px;
}
i.fas.fa-user-lock {
    color: #ff5200;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {transform: rotate(180deg);}
}
.colBtn {
    color: #ffb400;
}
.navbtn a i:hover {
    transform: scale(1.3);
    color: #ff5200;
}
.heading h1 {
    color: white;
    font-weight: 600;
    text-align: center;
    margin: auto;
	margin-top: 36px;
	font-family: Michroma;
    margin-bottom: 60px;
}
.heading h1 span {
    color: #ffb400;
}
table#data {
    background: darkcyan;
	color: lavender;
}
.breadcrumb-item.active {
    color: #6c757d;
    font-size: 18px;
}
ol.breadcrumb {
    background: darkcyan;
}

ol.breadcrumb li {
}

li.breadcrumb-item.active {
	color: lavender;
	font-weight: unset;
	font-family: 'Michroma';
}
span.icon {
    margin-right: 12px;
}
.btn1 {
    width: 81px;
    text-align: center;
    float: left;
    margin-bottom: 15px;
}

.btn2 {
    width: 81px;
    text-align: center;
    float: right;
    margin-bottom: 15px;
}
.btnWrapperMain {
    display: flow-root;
}