html {
    scroll-behavior: smooth;
}
body {
    background: #082031 !important;
}
.navbtn a i {
    color: #ffb400;
    font-size: 20px;
    transition: .4s;
    margin-left: 25px;
}
i.fas.fa-rss-square {
    color: #ff5200;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {transform: rotate(180deg);}
}
.colBtn {
    color: #ffb400;
}
.navbtn a i:hover {
    transform: scale(1.3);
    color: #ff5200;
}
.heading h1 {
    color: white;
    font-weight: 600;
    text-align: center;
    margin: auto;
	margin-top: 36px;
	font-family: Michroma;
}
.heading h1 span {
    color: #ffb400;
}
.animatedSpin {
    width: 60px;
	margin-top: 10px;
    margin-bottom: 10px;
}
.singleCard p {
	color: #ddd;
	font-family: arial-black;
}
.singleCard h4 a {
    color: white;
    font-family: arial-black;
    font-weight: 600;
}
.singleCard{
	overflow:hidden;
	transition:.4s;
}
.singleCard:hover img {
	transform: scale(1.2);
	transition:.4s;
}
.singleCard:hover h4 a {
    color: #ffb400;
	transition:.4s;
}
li.page-item.open a {
    background: #ffb400;
}
.paginationBox {
    width: 170px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}
.directUpIcon {
    font-size: 52px;
    width: 50px;
    text-align: center;
	transition:.4s;
}
.directUpIcon:hover {
    transform: scale(1.2);
}
.directUpIcon a i {
    color: #ffb400 !important;
}
.footerInfo {
    width: 164px;
	color:white;
}
footer.footerBar {
    padding: 15px 0px;
    background: #352d4694;
}